body{
    background-image: radial-gradient(#a5019d, #4a0186, #1a0161) ;
}

.my-card{
    background-color: rgb(102, 9, 97);
    color:pink;
    box-shadow: 5px 5px 20px violet;
    animation-name: animatedBackground;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.my-card:hover{
    box-shadow: 10px 10px 20px violet;
    transition: box-shadow 0.5s ease;
}


.my-card h5{
    font-family:monospace;
}

.my-card p{
    font-style: oblique;
}

@keyframes animatedBackground {
    
    to{
        background-color: transparent;
    }
}


